html{
    font-family: 'Courier New', Courier, monospace;
}

.icon
{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.icon-text
{
    display: inline;
    padding-inline-start: 20px;
}

li a{
    color: brown;
}

li :hover {

    color: burlywood;
}